<a href="https://colab.research.google.com/github/ttk66/sql/blob/main/Project_SQL_%D0%9D%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA_%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# Проект «Анализ вакансий из HeadHunter»

In [ ]:
import pandas as pd
import psycopg2

In [ ]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [ ]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

## 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в базе (вакансии находятся в таблице `vacancies`).

In [ ]:
# текст запроса
query_3_1 = f'''
SELECT COUNT(1)
FROM vacancies;
'''

In [ ]:
df = pd.read_sql_query(query_3_1, connection)
df

/tmp/ipython-input-3851344990.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица `employers`).

In [ ]:
# текст запроса
query3_2 = f"""
SELECT COUNT(1)
FROM employers;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query3_2, connection)
df

/tmp/ipython-input-3372558505.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query3_2, connection)

   count
0  23501

3. Посчитайте с помощью запроса количество регионов (таблица `areas`).

In [ ]:
# текст запроса
query3_3 = f"""
SELECT COUNT(1)
FROM areas;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query3_3, connection)
df

/tmp/ipython-input-1045105937.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query3_3, connection)

   count
0   1362

4. Посчитайте с помощью запроса количество сфер деятельности в базе (таблица `industries`).

In [ ]:
# текст запроса
query3_4 = f"""
SELECT COUNT(1)
FROM industries;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query3_4, connection)
df

/tmp/ipython-input-3279677683.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query3_4, connection)

   count
0    294

***

In [ ]:
# выводы по предварительному анализу данных
Масштаб данных: База содержит значительный объем данных - почти 49,200 вакансий и 23,500 работодателей.

Географический охват: Наличие 1,362 регионов указывает на широкое географическое покрытие базы данных, включая как крупные города, так и менее населенные регионы.

Отраслевая детализация: 294 сферы деятельности свидетельствуют о высокой детализации и специализации классификации компаний.

Соотношение показателей:

На одного работодателя в среднем приходится около 2.1 вакансии (49,197 / 23,501)

На один регион в среднем приходится около 36 вакансий и 17 работодателей

Качество данных: Большое количество сфер деятельности при относительно меньшем количестве работодателей может указывать на то, что многие компании работают в нескольких сферах одновременно.

## 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (`cnt`) вакансий в каждом регионе (`area`).
Отсортируйте по количеству вакансий в порядке убывания.

In [ ]:
# текст запроса
query4_1 = """
SELECT
a.name as region_name,
COUNT(v.id) as cnt
FROM vacancies v
JOIN areas a ON v.area_id = a.id
GROUP BY a.id, a.name
ORDER BY cnt DESC
LIMIT 5;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query4_1, connection)
df

/tmp/ipython-input-169690575.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query4_1, connection)

       region_name   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
# текст запроса
query4_2 = """
SELECT COUNT(*) as vacancies_with_salary
FROM vacancies
WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query4_2, connection)
df

/tmp/ipython-input-3983020382.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query4_2, connection)

   vacancies_with_salary
0                  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до **целого числа**.

In [ ]:
# текст запроса
query4_3 = """
SELECT
ROUND(AVG(salary_from)) as avg_salary_from,
ROUND(AVG(salary_to)) as avg_salary_to
FROM vacancies
WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query4_3, connection)
df

/tmp/ipython-input-570421473.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query4_3, connection)

   avg_salary_from  avg_salary_to
0          71065.0       110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (`schedule`) и типа трудоустройства (`employment`), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
# текст запроса
query4_4 = """
SELECT
schedule,
employment,
COUNT(*) as vacancy_count
FROM vacancies
GROUP BY schedule, employment
ORDER BY vacancy_count DESC;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query4_4, connection)
df

/tmp/ipython-input-1521009827.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query4_4, connection)

            schedule           employment  vacancy_count
0        Полный день     Полная занятость          35367
1   Удаленная работа     Полная занятость           7802
2      Гибкий график     Полная занятость           1593
3   Удаленная работа  Частичная занятость           1312
4     Сменный график     Полная занятость            940
5        Полный день           Стажировка            569
6     Вахтовый метод     Полная занятость            367
7        Полный день  Частичная занятость            347
8      Гибкий график  Частичная занятость            312
9        Полный день     Проектная работа            141
10  Удаленная работа     Проектная работа            133
11     Гибкий график           Стажировка            116
12    Сменный график  Частичная занятость            101
13  Удаленная работа           Стажировка             64
14     Гибкий график     Проектная работа             18
15    Сменный график           Стажировка             12
16    Вахтовый метод     Проектная работа              2
17    Сменный график     Проектная работа              1

5. Напишите запрос, выводящий значения поля «Требуемый опыт работы» (`experience`) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
# текст запроса
query4_5 = """
SELECT
experience,
COUNT(*) as vacancy_count
FROM vacancies
GROUP BY experience
ORDER BY vacancy_count ASC;
"""

In [ ]:
# результат запроса
# результат запроса
df = pd.read_sql_query(query4_5, connection)
df

/tmp/ipython-input-2463017682.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query4_5, connection)

           experience  vacancy_count
0         Более 6 лет           1337
1           Нет опыта           7197
2       От 3 до 6 лет          14511
3  От 1 года до 3 лет          26152

***

In [ ]:
# выводы по детальному анализу вакансий
Географическая концентрация: Рынок вакансий сильно сконцентрирован в столичных городах:

    Москва (5,333) и Санкт-Петербург (2,851) лидируют с большим отрывом

    Минск, Новосибирск и Алматы формируют вторую группу по активности

Это отражает типичное распределение рабочих мест в странах СНГ

Прозрачность зарплат:

Только 48.9% вакансий имеют указанную зарплату (24,073 из 49,197)

Это может указывать на низкую прозрачность зарплатной политики или особенности заполнения данных

Зарплатные ожидания:

Средняя зарплатная вилка: 71,065 - 110,537

Доминирующая модель занятости:

Полный день + Полная занятость - абсолютный лидер (35,367 вакансий или 71.9%)

Это отражает традиционную модель занятости на рынке

Требования к опыту:

Наиболее востребованы специалисты с опытом 1-3 года (26,152 или 53.2%)

От 3 до 6 лет - вторая по популярности категория (29.5%)

Нет опыта - 14.6%

Более 6 лет - наименее востребованы (2.7%), возможно из-за меньшего количества таких специалистов или особенностей рынка

###################################################

Рынок ориентирован на специалистов с опытом 1-6 лет

Доминирует традиционная полная занятость

Москва и Санкт-Петербург - основные центры притяжения

Каждый второй работодатель не указывает зарплату в вакансии

## 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
# текст запроса
query5_1 = """
SELECT
rank,
employer_name,
vacancy_count
FROM (
    SELECT
        e.name as employer_name,
        COUNT(v.id) as vacancy_count,
        ROW_NUMBER() OVER (ORDER BY COUNT(v.id) DESC) as rank
    FROM vacancies v
    JOIN employers e ON v.employer_id = e.id
    GROUP BY e.id, e.name
) ranked_employers
WHERE rank IN (1, 5);
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query5_1, connection)
df

/tmp/ipython-input-3060966061.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query5_1, connection)

   rank  employer_name  vacancy_count
0     1         Яндекс           1933
1     5  Газпром нефть            331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
# текст запроса
query5_2 = """
SELECT
a.name as region_name,
COUNT(DISTINCT e.id) as employers_count
FROM areas a
LEFT JOIN employers e ON a.id = e.area
LEFT JOIN vacancies v ON a.id = v.area_id
GROUP BY a.id, a.name
HAVING COUNT(v.id) = 0
ORDER BY COUNT(DISTINCT e.id) DESC
LIMIT 1;
"""

In [ ]:
# результат запроса
#df = pd.read_sql_query(query5_2, connection)
#df

Запрос отказывался выполняться на протяжении 30 минут.

SyntaxError: invalid syntax (ipython-input-3242949073.py, line 5)

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
# текст запроса
query5_3 = """
SELECT
e.name as employer_name,
COUNT(DISTINCT v.area_id) as regions_count
FROM employers e
JOIN vacancies v ON e.id = v.employer_id
GROUP BY e.id, e.name
ORDER BY regions_count DESC;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query5_3, connection)
df

/tmp/ipython-input-1671854320.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query5_3, connection)

                                employer_name  regions_count
0                                      Яндекс            181
1                                  Ростелеком            152
2                                  Спецремонт            116
3                      Поляков Денис Иванович             88
4                                   ООО ЕФИН              71
...                                       ...            ...
14901                            НПП Авиатрон              1
14902              Центр дистанционных торгов              1
14903  Городские Телекоммуникационные Системы              1
14904                       Введенский, Отель              1
14905              Группа Компаний Автоимпорт              1

[14906 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
# текст запроса
query5_4 = """
SELECT COUNT(DISTINCT e.id) as employers_without_industry
FROM employers e
LEFT JOIN employers_industries ei ON e.id = ei.employer_id
WHERE ei.industry_id IS NULL;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query5_4, connection)
df

/tmp/ipython-input-597290805.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query5_4, connection)

   employers_without_industry
0                        8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
# текст запроса
query5_5 = """
SELECT
e.name as employer_name,
COUNT(ei.industry_id) as industries_count
FROM employers e
JOIN employers_industries ei ON e.id = ei.employer_id
GROUP BY e.id, e.name
HAVING COUNT(ei.industry_id) = 4
ORDER BY e.name
LIMIT 1 OFFSET 2;
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query5_5, connection)
df

/tmp/ipython-input-912482152.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query5_5, connection)

  employer_name  industries_count
0          2ГИС                 4

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана «Разработка программного обеспечения».

In [ ]:
# текст запроса
query5_6 = """
SELECT COUNT(DISTINCT ei.employer_id) as employers_count
FROM employers_industries ei
JOIN industries i ON ei.industry_id = i.id
WHERE i.name = 'Разработка программного обеспечения';
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query5_6, connection)
df

/tmp/ipython-input-2781422708.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query5_6, connection)

   employers_count
0             3553

7. Для компании «Яндекс» выведите список [городов-миллионников](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8), в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку "Total" с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

    Если возникнут трудности с этим заданием, посмотрите материалы модуля 6.4 «Как получать данные из веб-источников и API».

In [ ]:
# код для получения списка городов-милионников
query5_7 = """
WITH city_vacancies AS (
    SELECT
    a.name as city,
    COUNT(v.id) as vacancy_count
    FROM vacancies v
    JOIN areas a ON v.area_id = a.id
    JOIN employers e ON v.employer_id = e.id
    WHERE e.name = 'Яндекс'
    AND a.name IN ('Москва', 'Санкт-Петербург', 'Новосибирск',
                    'Екатеринбург', 'Казань', 'Нижний Новгород',
                    'Челябинск', 'Самара', 'Омск', 'Ростов-на-Дону',
                    'Уфа', 'Красноярск', 'Воронеж', 'Пермь',
                    'Волгоград')
   GROUP BY a.id, a.name
),
total_vacancies AS (
    SELECT COUNT(v.id) as total_count
    FROM vacancies v
    JOIN employers e ON v.employer_id = e.id
    WHERE e.name = 'Яндекс'
),
combined_data AS (
    SELECT
    city,
    vacancy_count,
    1 as sort_order
    FROM city_vacancies
    UNION ALL
    SELECT
    'Total' as city,
    total_count as vacancy_count,
    2 as sort_order
    FROM total_vacancies
)
SELECT city, vacancy_count
FROM combined_data
ORDER BY sort_order, vacancy_count DESC;
"""

In [ ]:
# текст запроса

In [ ]:
# результат запроса
df = pd.read_sql_query(query5_7, connection)
df

/tmp/ipython-input-1507777101.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query5_7, connection)

               city  vacancy_count
0            Москва             54
1   Санкт-Петербург             42
2      Екатеринбург             39
3   Нижний Новгород             36
4       Новосибирск             35
5           Воронеж             32
6               Уфа             26
7            Самара             26
8             Пермь             25
9    Ростов-на-Дону             25
10           Казань             25
11        Волгоград             24
12       Красноярск             23
13        Челябинск             22
14             Омск             21
15            Total           1933

***

In [ ]:
# выводы по анализу работодателей
Лидеры рынка по количеству вакансий:

Яндекс - абсолютный лидер (1,933 вакансии)

Газпром нефть на 5-м месте (331 вакансия)

Существенный разрыв между лидерами показывает доминирование IT-сектора

Географическое присутствие компаний:

Яндекс представлен в 181 регионе - максимальный охват

Ростелеком (152 региона) и Спецремонт (116 регионов) также имеют широкую сеть

Поляков Денис Иванович (88 регионов) - интересный кейс индивидуального предпринимателя с широким присутствием

Качество данных о сферах деятельности:

8,419 работодателей (35.8%) не указали сферу деятельности

Это значительный пробел в данных, ограничивающий отраслевой анализ

Многоотраслевые компании:

2ГИС - пример компании с 4 сферами деятельности

Наличие таких компаний показывает диверсификацию бизнеса

IT-сектор доминирует:

3,553 работодателя (15.1%) указали "Разработку ПО" как сферу деятельности

Это подтверждает сильную IT-ориентированность базы вакансий

Анализ Яндекса как кейс-стади:

  Имеет 1,933 вакансии по всей базе

В городах-миллионниках распределение достаточно равномерное:

Москва (54), СПб (42), Екатеринбург (39) - лидеры

Все 15 городов-миллионников представлены

Только 422 вакансии (22%) в миллионниках, остальные 1,511 в других регионах, что достаточно странно

## 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

    Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова `'data'` или `'данн'`.

    *Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
# текст запроса
query6_1 = """
SELECT COUNT(*) as data_related_vacancies
FROM vacancies
WHERE LOWER(name) LIKE '%data%' OR LOWER(name) LIKE '%данн%';
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query6_1, connection)
df

/tmp/ipython-input-4288658687.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query6_1, connection)

   data_related_vacancies
0                    1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
    * 'data scientist'
    * 'data science'
    * 'исследователь данных'
    * 'ML' (здесь не нужно брать вакансии по HTML)
    * 'machine learning'
    * 'машинн%обучен%'

    **В следующих заданиях мы продолжим работать с вакансиями по этому условию.**

    Считаем вакансиями для специалистов уровня Junior следующие:
    + в названии есть слово “junior” **или**
    + требуемый опыт — «Нет опыта» **или**
    + тип трудоустройства — «Стажировка».

In [ ]:
# текст запроса
query6_2 = """
SELECT COUNT(*) as junior_data_science_vacancies
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
    OR LOWER(name) LIKE '%data science%'
    OR LOWER(name) LIKE '%исследователь данных%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine learning%'
    OR LOWER(name) LIKE '%машинн%обучен%')
  AND (LOWER(name) LIKE '%junior%'
    OR experience = 'Нет опыта'
    OR employment = 'Стажировка');
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query6_2, connection)
df

/tmp/ipython-input-155816561.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query6_2, connection)

   junior_data_science_vacancies
0                             51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или Postgres?

    *Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
# текст запроса
query6_3 = """
SELECT COUNT(*) as ds_vacancies_with_sql
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
    OR LOWER(name) LIKE '%data science%'
    OR LOWER(name) LIKE '%исследователь данных%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine learning%'
    OR LOWER(name) LIKE '%машинн%обучен%')
  AND (LOWER(key_skills) LIKE '%sql%'
    OR LOWER(key_skills) LIKE '%postgres%');
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query6_3, connection)
df

/tmp/ipython-input-2441556487.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query6_3, connection)

   ds_vacancies_with_sql
0                    229

4. Проверьте, насколько популярен Python в требованиях работодателей к DS. Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

    *Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
# текст запроса
query6_4 = """
SELECT COUNT(*) as ds_vacancies_with_python
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
    OR LOWER(name) LIKE '%data science%'
    OR LOWER(name) LIKE '%исследователь данных%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine learning%'
    OR LOWER(name) LIKE '%машинн%обучен%')
  AND LOWER(key_skills) LIKE '%python%';
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query6_4, connection)
df

/tmp/ipython-input-1630463327.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query6_4, connection)

   ds_vacancies_with_python
0                       357

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до **двух знаков после точки-разделителя**.

In [ ]:
# текст запроса
query6_5 = """
SELECT
    ROUND(AVG(
            CASE
                WHEN key_skills IS NULL OR TRIM(key_skills) = '' THEN NULL
                ELSE LENGTH(key_skills) - LENGTH(REPLACE(key_skills, CHR(9), '')) + 1
            END
        )::numeric, 2) as avg_skills_count
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
    OR LOWER(name) LIKE '%data science%'
    OR LOWER(name) LIKE '%исследователь данных%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine learning%'
    OR LOWER(name) LIKE '%машинн%обучен%');
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query6_5, connection)
df

/tmp/ipython-input-1710546938.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query6_5, connection)

   avg_skills_count
0              6.55

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в среднем указывают для каждого типа требуемого опыта (уникальное значение из поля `experience`).

    При решении задачи примите во внимание следующее:
    1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
    2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
    3. Если в расчётах участвует `null`, в результате он тоже даст `null` (посмотрите, что возвращает запрос `select 1 + null`). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит `null` на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

    Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до **целого числа**.

In [ ]:
# текст запроса
query6_6 = """
SELECT
    ROUND(
        AVG(
            CASE
                WHEN salary_from IS NOT NULL AND salary_to IS NOT NULL
                THEN (salary_from + salary_to) / 2.0
                WHEN salary_from IS NOT NULL THEN salary_from
                WHEN salary_to IS NOT NULL THEN salary_to
            END
        )
    ) as avg_salary
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
    OR LOWER(name) LIKE '%data science%'
    OR LOWER(name) LIKE '%исследователь данных%'
    OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
    OR LOWER(name) LIKE '%machine learning%'
    OR LOWER(name) LIKE '%машинн%обучен%')
  AND (salary_from IS NOT NULL OR salary_to IS NOT NULL)
  AND experience = 'От 3 до 6 лет';
"""

In [ ]:
# результат запроса
df = pd.read_sql_query(query6_6, connection)
df

/tmp/ipython-input-2032229636.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query6_6, connection)

   avg_salary
0    256454.0

***

In [ ]:
# выводы по предметному анализу
Общий рынок Data-вакансий:

1,771 вакансия (3.6% от общей базы) относится к data-сфере

Это значительная ниша, но не доминирующая часть рынка

Junior Data Science:

Всего 51 вакансия для начинающих дата-сайентистов

Это составляет лишь 3% от всех data-вакансий, рынок явно ориентирован на опытных специалистов

Может указывать на высокий порог входа в профессию

Требования к навыкам:

  Python упоминается в 357 вакансиях (20.2% от data-вакансий)

  SQL/Postgres - в 229 вакансиях (12.9%)

  Python почти в 1.6 раза популярнее SQL в требованиях

  Это отражает приоритет языков программирования над базами данных

Структура ключевых навыков:

  В среднем 6.55 навыка на вакансию

  Это относительно высокий показатель, указывающий на:

    Комплексные требования работодателей

    Необходимость мультидисциплинарности в data-сфере

    Возможно, "размытость" границ профессии

Анализ соотношений:

Из 51 junior-вакансии:

С Python: ~10-11 (исходя из пропорций)

С SQL: ~7-8

Конверсия data-вакансий в DS-специфичные: неявная, но база данных позволяет выделить чистую выборку

## Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования

1. Масштаб и структура рынка:

База содержит 49,200 вакансий от 23,501 работодателя, что представляет репрезентативную выборку рынка труда

Явное доминирование IT-сектора, особенно заметное по лидерству Яндекса (1,933 вакансии), что в принципе очевидно

Географическая концентрация: Москва (5,333) и Санкт-Петербург (2,851) формируют 16.6% всех вакансий

2. Data-специалисты как отдельная ниша:

Data-сфера составляет 3.6% рынка (1,771 вакансия)

Серьезный дисбаланс: только 51 вакансия для Junior-специалистов против тысяч для опытных

Python - ключевой навык (упоминается в 20.2% data-вакансий), SQL - второй по важности (12.9%)

3. Требования работодателей:

Опыт 1-3 года - самая востребованная категория (53.2% всех вакансий)

Полная занятость + полный день - доминирующая модель (71.9%)

Средняя зарплатная вилка: 71,065 - 110,537 рублей, но только 49% вакансий указывают зарплату

4. Проблемы качества данных:

35.8% работодателей не указали сферу деятельности

Только 48.9% вакансий имеют информацию о зарплате

Разделение ключевых навыков через табуляцию усложняет анализ

5. Тенденции и возможности:

Распределенный найм: Яндекс публикует вакансии в 181 регионе, а не только в столицах

Мультидисциплинарность: в среднем 6.55 навыка на data-вакансию

Высокий порог входа: мало позиций для начинающих специалистов

Рекомендации на основе анализа:

Для соискателей Data Science: фокусироваться на Python, готовиться к комплексным требованиям, рассматривать remote-формат

Для HR-аналитиков: улучшать структуру данных (особенно по навыкам и зарплатам)

Для образовательных программ: усиливать практическую подготовку с учетом требований к Junior-позициям

Для работодателей: повышать прозрачность зарплатных ожиданий для привлечения кандидатов

In [75]:
connection.close()